body {
    height: 100%;
    font-family: Arial, sans-serif !important;
    font-size: 20px !important;
    font-weight: 400 !important;
    line-height: 1.4em !important;
    color: #222 !important;
    letter-spacing: -.01em;
    background-color: #f8f9fa !important;
}

.combobox {
    padding: 20px;
    margin: 0px;
    background-color: #f5f5f5;
    text-align: center;
    border-radius: .375rem;
}

.IB {
    background-color: #7a7eaa;
}

.BB {
    background-color: #214f7f;
}

.PB {
    background-color: #8b3376;
}

.TB {
    background-color: #c6bca9;
}

.BS {
    background-color: #a80e4a;
}

.BG {
    background-color: #7fafd6;
}

.Vu {
    background-color: #a8b38b;
}

.ZD {
    background-color: #68726a;
}

.chip-wrapper {
    overflow: scroll;
    max-height: 80px;
}

.height-40hv {
    height: 40vh !important;
    max-height: 40vh !important;
}

.combobox input {
    margin: 0;
    padding: 0;
    height: 40px;
    vertical-align: top;
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
}

.combobox .CopyToClipboard_btn {
    width: 40px;
    height: 40px;
    margin-left: -40px;
    display: inline-block;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}

.combobox:focus,
input:focus {
    outline: none;
}

.combobox .CopyToClipboard_btn:hover {
    fill: #5E5E5E;
}


.nav_search {
    border: none;
    outline: none;
    height: 24px;
    color: #f8f9fa;
    background-color: #D00244;
    border-bottom: 1px solid transparent;
    width: 120px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin-right: 15px;
}

.nav_search:focus {
    width: 100%;
    border-bottom: 1px solid #f5f5f5;
}

.nav_search::placeholder {
    opacity: 1;
    color: #f8f9fa;
}

.nav_search:focus::placeholder {
    opacity: 1;
    color: transparent;
}


.form-check-input:checked {
    background-color: #D00244 !important;
    border: 0;
}

.form-check-input:focus,
.label::after,
label.form-check-label:focus,
.form-check-input::after,
.form-check-input:not(:disabled):not(.disabled):active:focus {
    color: black;
    outline: 0;
    border: 0;
    box-shadow: 0 0 0 0.1rem #D00244 !important;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited {
    background-color: #D00244 !important;
    border-color: #D00244 !important;
}

.content-wrapper {
    height: 100vh;
}

.xml_img {
    width: 70vw;
}


.navbar .nav>li.current-menu-ancestor>a {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 20px !important;
}

/* input hover farbe zu rot */
.form-control:focus {
    border-color: #D00244;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* offcanvas style */

.offcanvas-nav {
    width: 280px !important;
}

.offcanvas-body-nav {
    padding: 0px !important;
}

.offcanvas {
    width: 600px;
}

/* end offcanvas style */

.btn-outline {
    color: #fff;
}


.sidebar-nav-header {
    min-height: 60px;
    background-color: #D00244;
    color: #fff;
}


.dropdown-menu {
    --bs-dropdown-link-active-bg: #D00244;
}

th {
    font-weight: 400 !important;
}

/* pagination style */

.page-item .page-link {
    box-shadow: none;
}

.pagination>li>a {
    background-color: white;
    color: #D00244;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: #fff;
    background-color: #D002441a;
    border-color: #fff;
}

.pagination>.active>a {
    color: white;
    background-color: #D00244 !Important;
    border: solid 1px #D00244 !Important;
}

.pagination>.active>a:hover {
    background-color: #D00244 !Important;
    border: solid 1px #D00244;
}

/* end pagination style */

/* datatable alignment style */

td,
th {
    vertical-align: middle !important;
    height: 75px;
    text-align: center !important;
}

.table-size-65 {
    max-width: 65vh !important;
}

.ellipsis {

    overflow: hidden !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 0 !important;
}


.table-align-left {
    text-align: left !important;
}

.table-align-right {
    text-align: right !important;
}

.table-align-center {
    text-align: center !important;

}


.spinner-border {
    color: #D00244;
}


.input-group>.form-control,
.input-group>.form-floating,
.input-group>.form-select {
    box-shadow: none;
}

.loader_wrapper {
    background-color: #f5f5f5;
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0px;
    left: 0px;
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.navbar-custom {
    background-color: #D00244;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 19.8px;
    height: 60px !important;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[name="username"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[name="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[name="vorname"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

}

.form-signin input[name="nachname"] {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[name="zimmer"] {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[name="date"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.form-signin input[name="new-password"] {
    border-radius: 0;
    margin-bottom: -1px;
}

.form-signin input[name="confirm_password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin input[name="kürzel"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

label.form-control-placeholder {
    pointer-events: none;
}

.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}

.btn-static:active {
    -moz-box-shadow: inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow: inset 0 0 0px white;
}

/*
sidebar
*/
.nav>li>a:hover,
.nav>li>a:focus,
.nav>li>a:active {
    text-decoration: none;
    background-color: transparent !important;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.b-example-divider {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
    vertical-align: -.125em;
    pointer-events: none;
    fill: currentColor;
}

.dropdown-toggle {
    outline: 0;
}

.nav-flush .nav-link {
    border-radius: 0;
}

.btn-toggle {
    display: inline-flex;
    align-items: center;
    padding: .25rem .5rem;
    font-weight: 600;
    color: rgba(0, 0, 0, .65);
    background-color: transparent;
    border: 0;
}


.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(0, 0, 0, .85);
}

.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    display: inline-flex;
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
    text-decoration: none;
}

.scrollarea {
    overflow-y: auto;
}

.fw-semibold {
    font-weight: 600;
}

.lh-tight {
    line-height: 1.25;
}